.container-content {
  height: 80%;
  .liquidity {
    display: flex;
    justify-content: center;
    position: relative;

    span {
      color: #fcfcfc;

      &.total {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 30%;
      }
    }

    .chart {
      padding-top: 5rem;
      position: relative;
      width: 40%;
    }
  }
}
