.container-content {
  height: 80%;
  .providers {
    .selector-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .chart {
        margin-top: 5rem;

        position: relative;
        width: 40%;
      }
    }
  }
}
