.container-content {
  height: 80%;

  .providers {
    width: 50%;
    margin: auto;
    margin-top: 3%;

    .selector-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      margin: auto;

      span {
        color: #fcfcfc;
      }

      .total {
        font-size: 20px;
        font-weight: bold;
        margin-right: 9%;
      }
    }

    .chart {
      display: flex;
      margin: 0 auto;
      margin-top: 5rem;

      position: relative;
      width: 90%;
    }

    @media (max-width: 1400px) {
      .total {
        top: 70px;
      }
    }
  }
}