.more-info {
  div {
    display: grid;
    grid-template-columns: 30% 0%;
    text-align: left;
    margin-bottom: 7px;

    span {
      white-space: nowrap;
    }
  }

  div > span:first-child {
    margin-left: 17px;
  }
}
