.history-wrapper {
  width: 93%;
  min-width: 830px;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;

  table {
    width: 50%;
    border-radius: 10px;
    margin-right: 15px;
    background: #002b60;
    box-shadow: inset 20px 20px 60px #002552, inset -20px -20px 60px #00316e;
    color: white;
    padding: 13px;

    tbody {
      tr {
        td {
          padding-bottom: 10px;
          text-align: center;

          a {
            text-decoration: none;
            color: wheat;
          }
        }
      }
    }
  }

  .pagination {
    margin: 0 auto;
    width: fit-content;
    margin-top: 13px;

    .selector-container {
      display: inline-block;
      width: 117px;
    }
    .selector-container > div:first-child {
      width: 100%;
    }

    button {
      background-color: hsl(0, 0%, 100%);
      border-color: hsl(0, 0%, 80%);
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      min-height: 38px;
      min-width: 38px;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
    }

    span {
      color: white;
    }
  }
}
