.navbar {
  display: flex;
  position: relative;
  .logo-container {
    img {
      position: absolute;
      width: 80px;
      top: 25px;
      left: 60px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    list-style: none;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 59%;
    margin: 0 auto;

    li {
      a {
        color: #fcfcfc;
        font-weight: 500;
        text-decoration: none;
        font-size: 24px;
        opacity: 0.5;
        &:hover,
        &.selected {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}
