@import '../../css/query.scss';

.navbar {
  width: 100%;
  background-color: #c2b7e6;
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
  position: fixed;
  bottom: 0;
  left: 0;

  img {
    width: 30px;
    height: 30px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 2em;
  }
}

@include laptop {
  .navbar {
    display: flex;
    position: relative;
    background-color: unset;

    ul {
      list-style: none;
      padding: 3rem;
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin: 0 auto;

      li {
        a {
          color: #fcfcfc;
          font-weight: 500;
          text-decoration: none;
          font-size: 24px;
          opacity: 0.5;
          &:hover,
          &.selected {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }
}
