@import "animations.scss";

body {
  background-image: -webkit-radial-gradient(#02497C 2%, #00053C 71%);

  .App {
    height: 98vh;
  }

  .container-content {
    img {
      width: 10%;
      position: fixed;
    }
  }
}