@import 'animations.scss';

body {
  background-image: -webkit-radial-gradient(#02497c 2%, #00053c 71%);
  font-family: 'Roboto', sans-serif;

  .App {
    height: 98vh;
  }

  .container-content {
    img {
      width: 10%;
      position: fixed;
    }
  }
}
