.dashboard {
  display: flex;
  justify-content: center;
  .card-container {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      text-align: center;
      border: 1px solid #fcfcfc;
      width: 200px;
      height: 70px;
      align-items: center;
      margin-bottom: 15px;
      justify-content: center;
      margin-right: 15px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);

      &:hover {
        animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }

      span {
        color: #fcfcfc;

        &.price {
          font-size: 32px;
          font-weight: bold;
        }
        &.network {
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.125);
    transform: scale(1.125);
  }
}
