@import '../../css/query.scss';

.dashboard {
  display: flex;
  justify-content: center;

  .card-container {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      text-align: center;
      width: 200px;
      height: 70px;
      align-items: center;
      margin-bottom: 15px;
      justify-content: center;
      border-radius: 10px;
      background: #002b60;
      box-shadow: inset 20px 20px 60px #002552, inset -20px -20px 60px #00316e;

      &:hover {
        animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }

      span {
        color: #fcfcfc;

        &.network {
          font-size: 32px;
          font-weight: bold;
          padding: 10px;
        }

        &.price {
          font-size: 18px;
        }
      }
    }
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.125);
    transform: scale(1.125);
  }
}

@include laptop {
  .dashboard {
    .card-container {
      .card {
        margin-right: 15px;
      }
    }
  }
}
