.history-wrapper {
  width: 93%;
  margin: auto;

  table {
    border-radius: 10px;
    margin-right: 15px;
    background: #002b60;
    box-shadow: inset 20px 20px 60px #002552, inset -20px -20px 60px #00316e;
    color: white;
    padding: 13px;
  }
}
